
.button {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 30px;
    background-color: lightpink;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 9;
    background-color: white;
  }

  .parent {
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }